{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="top-margin"></div>

<div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-lg-4 ">
        <div class="my-3 text-center">
            <img src="\media\LogoText_001.png" class="img-fluid mx-auto d-block"
                alt="site logo, Responsible Preppers">
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
    <h1 class="display-4 text-success">Trial and Error!</h1>
{% endblock %}