@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
html {
    height: 100%;
}

body {
    height: calc(100vh - 4rem);
    background-color: #fafafa;
}

.content-container {
    background-color: #ffffff;
}

hr {
    color: #373B42;
}

a {
    color: black;
}

a:hover {
    color: #4D6D94;
}

.header-row {
    max-height: 4rem;
}

.header-logo-container {
    max-height: 4rem;
}

.header-row-logo {
    height: 4rem;
    width: auto;
}

.top-margin {
    height: 7.5rem
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

.social-button {
    display: inline-block;
}

.text-dark-blue a {
    color: #051B30;
    transition: ease-in-out 0.2s;
}

.text-dark-blue a:hover {
    color: #4D6D94;
    transition: ease-in-out 0.2s;
}

/* --- index --- */

#index-hero-img {
    background: url(/media/index_hero.png) no-repeat center center fixed;
}

.index-carousel-header {
    text-shadow: 3px 3px 7px black;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}

.rating-star {
    color: #373B42
}

.breadcrumb {
    background-color: #ffffff;
}

.breadcrumb-item a {
    color: #8C836D
}

.breadcrumb-item.active a {
    color: #4D6D94
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(1);
}

.w-10 {
    width: 10% !important;
}

.product-overlay {
    opacity: 1.0;
    transition: opacity .40s ease-in-out;
    -moz-transition: opacity .40s ease-in-out;
    -webkit-transition: opacity .40s ease-in-out;
}

.product-overlay:hover {
    opacity: 0.0;
    transition: opacity .40s ease-in-out;
    -moz-transition: opacity .40s ease-in-out;
    -webkit-transition: opacity .40s ease-in-out;
}

.qty_input {
    text-align: center;
}

/* css to disable default input form buttons taken from https://www.thatstevensguy.com/programming/disable-arrows-on-number-inputs/ */

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.delete-item {
    cursor: pointer;
}

.delete-item:hover {
    color: #4D6D94 !important;
}

.message-container {
    position: fixed;
    top: 3rem;
    right: 2rem;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.inline-form {
    display: inline-block;
}

/* --- Footer --- */

.carousel-item {
    height: calc(75vh - 7rem);
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* --- Buttons --- */

.shop-now {
    height: 3rem;
    width: 12rem;
    border-radius: 0;
    background-color: rgba(200, 200, 200, 0.7);
    font-size: 1.5rem;
    box-shadow: 3px 3px 7px black;
    font-weight: 300;
}

.shop-now:hover {
    background-color: #051B30;
}

.shop-now a {
    color: white;
}

.shop-now a:hover {
    text-decoration: none;
}

.cart-empty {
    height: 50vh
}

.btn-blue {
    color: white;
    background-color: #B39D26;
    border: none;
    transition: ease-in-out .2s;
    font-weight: 200;
}

.btn-blue:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: black
}