site.palette {
    dark_blue: #051B30;
    light_blue: #4D6D94;
    gray: #373B42;
    dark_green: #8C836D;
    light_green: #B39D26;
}

html {
    height: 100%;
}

body {
    height: calc(100vh - 4rem);

}

hr {
    color: #373B42;
}

a {
    color: black;
}

a:hover {
    color: #4D6D94;
}

.header-row {
    max-height: 4rem;
}

.header-logo-container{
    max-height: 4rem;
}

.header-row-logo {
    height: 4rem;
    width: auto;
}

.top-margin {
    height: 7.5rem
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}