<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-center w-auto mx-auto text-uppercase">

        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-fire"></i> Popular</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarKits" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-box-open"></i> Our Kits
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Complete Kits</a>
                <a class="dropdown-item" href="#">Food & Water Kits</a>
                <a class="dropdown-item" href="#">First Aid Kits</a>
                <a class="dropdown-item" href="#">Gear Kits</a>
                <a class="dropdown-item" href="#">Tool Kits</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarFoodWater" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-seedling"></i> Food & Water
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Freeze Dried Foods</a>
                <a class="dropdown-item" href="#">Food Storage</a>
                <a class="dropdown-item" href="#">Water Purification</a>
                <a class="dropdown-item" href="#">Water Storage</a>
                <a class="dropdown-item" href="#">Self Sufficient Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarGear" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-battery-full"></i> Gear
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Power</a>
                <a class="dropdown-item" href="#">Lighting</a>
                <a class="dropdown-item" href="#">Communication</a>
                <a class="dropdown-item" href="#">Backpacks & Carryalls</a>
                <a class="dropdown-item" href="#">Camping & Outdoors</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Gear Kits</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDefence" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-medkit"></i> First Aid & Sanitation
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">First Aid</a>
                <a class="dropdown-item" href="#">Gas Masks & Biohazard</a>
                <a class="dropdown-item" href="#">Sanitation</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDefence" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tools"></i> Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Knives</a>
                <a class="dropdown-item" href="#">Hatchets & Saws</a>
                <a class="dropdown-item" href="#">Multitools</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Tool Kits</a>
            </div>
        </li>

    </ul>
</div>